form {
    text-align: center;
    margin-bottom: 5pt;
    margin-top: 5pt;
}

.title {
    height: 18pt;
    line-height: 18pt;
    padding-left: 20pt;
    color: white;
    background-color: #0EB1F2;
}

.value {
    height: 30pt;
    line-height: 30pt;
    padding-left: 40pt;
    font-size: large;
}

.hash {
    width: auto;
    height:26pt;
    line-height: 20pt;
    padding: 2pt;
    border: 1px solid #bed5cd;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

