form {
  text-align: center;
}

.title {
    height: 16pt;
    padding-left: 20pt;
    background-color: lightgray;
}

.value {
    height: 30pt;
    line-height: 30pt;
    padding-left: 40pt;
    font-size: large;
}

.hash {
    width: auto;
    height:26pt;
    line-height: 20pt;
    padding: 2pt;
    border: 1px solid #bed5cd;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

